* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.products_list {
  padding: 25px;
  width: 350px;
  height: 350px;
  border: 2px solid gray;
}

.active {
  font-weight: 700;
}

.App {
  margin: 0 auto;
  width: 1450px;
}